<div class="page-content">
  <div class="hero-section">
    <div class="hero-text">
      <p class="headline">{{ "PAGES.HOME.HERO.HEADLINE" | translate }}</p>
      <p class="title">
        {{ "PAGES.HOME.HERO.TITLE" | translate }}
      </p>
      <p class="description">
        {{ "PAGES.HOME.HERO.DESCRIPTION" | translate }}
      </p>
      <button class="catalog-button" (click)="goToCatalog()">
        {{ "PAGES.HOME.HERO.BUTTON" | translate }}
        <img src="/icons/next-button-icon.svg" />
      </button>
    </div>
    <img class="hero-image" src="/illustrations/landing-hero.svg" />
  </div>

  <div class="hightlight-section">
    <div class="section-headline">
      <span class="line"></span>
      {{ "PAGES.HOME.HIGHLIGHT.HEADLINE" | translate }}
    </div>
    <div class="products-grid">
      @for (product of hightlightProducts$ | async; track product.productId) {
        <app-hightlight-product [product]="product"></app-hightlight-product>
      }
    </div>
  </div>
</div>
