.card {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.book-cover {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.book-cover img {
  width: 145px;
  height: 200px;
}

.book-content {
  padding: 15px;
  min-width: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.favorite-button-row {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  padding-top: 10px;
}

.favorite-button-row img {
  padding-right: 5px;
  height: 25px;
  width: 25px;
}

.add-favorite-button {
  background: none;
  border: none;
  cursor: pointer;
}

.book-title {
  font-size: 15px;
  text-wrap: wrap;
  margin-bottom: 8px;
}

.book-author {
  font-size: 14px;
  color: #898a9c;
  margin-bottom: 8px;
}

.book-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 20px;
}

.currency {
  font-size: 14px;
}

.cart-button-row {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.add-cart-button {
  padding: 10px 30px 10px 30px;
  background-color: #d86f6f;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 550;
}

.add-cart-button:active {
  background-color: #b05b5b;
}

/*-- Responsive Mobile --*/
@media (max-width: 768px) {
  .favorite-button-row img {
    height: 15px;
  }

  .book-content {
    padding: 10px;
  }

  .book-price {
    margin-top: 0;
  }
}
