<div class="page-content">
  <div class="text">
    <p class="headline">{{ "PAGES.ERROR.HEADLINE" | translate }}</p>
    <div>
      <img src="/icons/404.svg" />
    </div>
    <p class="description">
      {{ "PAGES.ERROR.DESCRIPTION" | translate }}<br />{{
        "PAGES.ERROR.TRY_LATER" | translate
      }}
    </p>
    <div>
      <button class="home-button" (click)="goHome()">
        {{ "PAGES.ERROR.BUTTON" | translate }}
        <img src="/icons/next-button-icon.svg" />
      </button>
    </div>
  </div>
  <div class="illustration-section">
    <img class="illustration" src="/illustrations/error.svg" />
  </div>
</div>
