<footer class="footer">
  <img src="/logo/logo_literally-2.svg" />
  <nav class="nav-buttons">
    <a class="home-button" routerLink="">{{
      "LAYOUT.FOOTER.BUTTONS.HOME" | translate
    }}</a>
    <a class="catalog-button" routerLink="/catalog">{{
      "LAYOUT.FOOTER.BUTTONS.CATALOG" | translate
    }}</a>
    <a class="about-button" routerLink="/about">{{
      "LAYOUT.FOOTER.BUTTONS.ABOUT" | translate
    }}</a>
    @if (language() === LanguageEnum.FRENCH) {
      <a class="language-button" (click)="changeLanguage(LanguageEnum.ENGLISH)">
        {{ "ENUMS.LANGUAGE.ENGLISH" | translate }}
      </a>
    } @else {
      <a class="language-button" (click)="changeLanguage(LanguageEnum.FRENCH)">
        {{ "ENUMS.LANGUAGE.FRENCH" | translate }}
      </a>
    }
  </nav>
  <div class="disclaimer">
    <p>{{ "LAYOUT.FOOTER.DISCLAIMER" | translate }}</p>
    <p>{{ "LAYOUT.FOOTER.TECHNOLOGIES" | translate }}</p>
  </div>
</footer>
