.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #fae3ba;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*-- Logo --*/
.left-section {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

/*-- Search bar --*/
.middle-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  background-color: white;
  color: #d86f6f;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  width: 450px;
}

.search-bar::placeholder {
  font-size: 15px;
  color: #f2ba9d;
}

textarea:focus,
input:focus {
  outline: none;
}

.search-button {
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  padding: 6px 6px 6px 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: -25px;
  cursor: pointer;
}

/*-- Buttons --*/
.right-section {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-button,
.favorite-button,
.profile-button {
  display: flex;
  font-size: 15px;
  color: #be7339;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  transition: text-decoration 0.15s;
}

.cart-button:hover,
.favorite-button:hover,
.profile-button:hover {
  text-decoration: underline;
}

.cart-button img,
.favorite-button img,
.profile-button img {
  margin-right: 10px;
}

.cart-button,
.favorite-button {
  border-right: 1px #be7339 solid;
}

/*-- Responsive --*/
@media (max-width: 600px) {
  .left-section {
    margin-left: 0;
    width: 70px;
  }

  .logo-picture {
    width: 80px;
  }

  .search-bar {
    width: 130px;
  }

  .cart-button p,
  .favorite-button p,
  .profile-button p {
    display: none;
  }

  .cart-button,
  .favorite-button,
  .profile-button {
    padding-right: 2px;
    padding-left: 2px;
  }

  .cart-button img,
  .favorite-button img,
  .profile-button img {
    margin-right: 3px;
    margin-left: 3px;
  }

  .right-section {
    padding-left: 2px;
    padding-right: 2px;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .search-bar {
    width: 220px;
  }
}
