<header class="header">
  <div class="left-section">
    <img class="logo-picture" src="/logo/logo_literally-1.svg" />
  </div>

  <div class="middle-section">
    <input class="search-bar" type="text" placeholder="Chercher par nom" />
    <button class="search-button">
      <img src="/icons/search-icon.svg" />
    </button>
  </div>

  <div class="right-section">
    <div class="cart-button">
      <img src="/icons/cart-icon.svg" />
      <p>Panier</p>
    </div>
    <div class="favorite-button">
      <img src="/icons/favorite-icon.svg" />
      <p>Favoris</p>
    </div>
    <div class="profile-button">
      <img src="/icons/profile-icon.svg" />
      <p>Se connecter</p>
    </div>
  </div>
</header>
