.page-content {
  padding: 10px 200px 10px 200px;
  min-height: calc(85vh - 64px);
}

/*-- Admin buttons --*/

.admin-section {
  display: flex;
  justify-content: end;
}

.create-product-button {
  color: #d86f6f;
  border: 1px #d86f6f solid;
  outline: 1px #d86f6f solid;
  outline-offset: -0.3rem;

  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
}

.create-product-button:active {
  background-color: #d86f6f;
  color: white;
  outline: 2px white solid;
}

/*-- Catalog products --*/

.catalog-section {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 100%;

  align-items: start;
  justify-content: center;
}

.products-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  padding: 1rem;
}

/*-- Filters --*/

.filters-section {
  padding: 10px;
}

.filters-mobile-btn {
  display: none;
  padding: 10px;
  padding-bottom: 0;
}

.filters-mobile-btn button {
  width: 100%;
  background-color: #d86f6f;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 14px 20px 14px 20px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*-- Responsive Mobile --*/
@media (max-width: 912px) {
  .page-content {
    padding: 10px;
  }

  .catalog-section {
    grid-template-columns: 1fr;
  }

  .filters-section {
    display: none;
  }

  .filters-mobile-btn {
    display: block;
  }

  .products-section {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 913px) and (max-width: 1365px) {
  .page-content {
    padding: 10px 50px 10px 50px;
  }
}
