<div class="page-content">
  <!-- Admin section -->
  @if (isAdmin) {
    <div class="admin-section">
      <button
        class="create-product-button"
        [routerLink]="['/products/configuration']"
        [queryParams]="{ id: null }"
      >
        Créer un produit
      </button>
    </div>
  }
  <div class="catalog-section">
    <!-- Mobile version of filters -->
    <div class="filters-mobile-btn">
      <button (click)="displayMobileFilter = !displayMobileFilter">
        Filtres <img src="/icons/filters/filters-icon.svg" />
      </button>
      @if (displayMobileFilter) {
        <app-catalog-filters
          [filters]="filters()"
          (filtersChange)="updateFilters($event)"
        ></app-catalog-filters>
      }
    </div>
    <!-- Desktop version of filters -->
    <div class="filters-section">
      <app-catalog-filters
        [filters]="filters()"
        (filtersChange)="updateFilters($event)"
      ></app-catalog-filters>
    </div>
    <!-- Products grid / Catalog -->
    <div class="products-section">
      @for (product of catalogProducts$ | async; track product.productId) {
        <app-catalog-product [product]="product"></app-catalog-product>
      }
    </div>
  </div>
</div>
