.page-content {
  padding: 20px 20% 20px 20%;
}

.input-label {
  color: #d86f6f;
  font-size: 14px;
  margin-bottom: 7px;
}

/*-- Hero section --*/
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.hero-section .title {
  font-size: 32px;
  font-weight: bold;
  color: #be7339;
}

.hero-section .subtitle {
  color: #be7339;
  font-size: 24px;
}

/*-- General info section --*/
.general-info-section {
  height: 400px;
  background-color: lightblue;
  margin: 10px 10% 10px 10%;
  display: flex;
  gap: 20px;
}

.image-placeholder {
  cursor: pointer;
}

.preview {
  width: 200px;
  height: 275px;
  object-fit: cover;
}

/*-- Responsive Mobile --*/
@media (max-width: 912px) {
  .page-content {
    padding: 10px;
  }
}

@media (min-width: 913px) and (max-width: 1365px) {
  .page-content {
    padding: 10px 50px 10px 50px;
  }
}
