<div class="card">
  <div class="book-cover">
    <img src="/book-cover/runes-vol.2.jpg" />
  </div>
  <div class="book-content">
    <div class="favorite-button-row">
      <button class="add-favorite-button">
        <img src="/icons/add-favorite.svg" />
      </button>
    </div>
    <p class="book-title">
      Titre du livrea qui peut être très très long genre vraiment super long
      quand on y pense
    </p>
    <p class="book-author">Nom de l'auteur wahou</p>
    <app-grade [grade]="3.9" [totalReviews]="3"></app-grade>
    <p class="book-price">19.99<span class="currency">€</span></p>
    <div class="cart-button-row">
      <button class="add-cart-button">Ajouter au panier</button>
    </div>
  </div>
</div>
