<div class="card" (click)="seeDetails()">
  <div class="book-cover">
    <img [src]="productCoverUrl" />
  </div>
  <div class="book-content">
    <div class="favorite-button-row">
      <button
        class="add-favorite-button"
        (click)="
          product.isFavorite = !product.isFavorite; $event.stopPropagation()
        "
      >
        @if (product.isFavorite) {
          <img src="/icons/added-favorite.svg" />
        } @else {
          <img src="/icons/add-favorite.svg" />
        }
      </button>
    </div>
    <p class="book-title">
      {{ product.title }}
    </p>
    <p class="book-author">{{ product.authorName }}</p>
    <app-grade
      [grade]="product.grade"
      [totalReviews]="product.reviews"
    ></app-grade>
    <p class="book-price">{{ product.price }}<span class="currency">€</span></p>
    <div class="cart-button-row">
      <button class="add-cart-button" (click)="$event.stopPropagation()">
        {{ "PAGES.CATALOG.PRODUCT.ADD" | translate }}
      </button>
    </div>
  </div>
</div>
