<div class="page-content">
  <div class="text-content">
    <div class="tag-row">
      <a class="headline-tag">{{ "PAGES.ABOUT.HEADLINE" | translate }}</a>
    </div>
    <p class="title">
      {{ "PAGES.ABOUT.TITLE.1" | translate }} <br />
      {{ "PAGES.ABOUT.TITLE.2" | translate }}
    </p>
    <p class="description">
      {{ "PAGES.ABOUT.DESCRIPTION" | translate }}
    </p>
    <div class="tag-row">
      <a class="stack-tag">{{ "PAGES.ABOUT.TAGS.FRONTEND" | translate }}</a>
      <a class="stack-tag">{{ "PAGES.ABOUT.TAGS.BACKEND" | translate }}</a>
      <a class="stack-tag">{{ "PAGES.ABOUT.TAGS.DATABASE" | translate }}</a>
    </div>
  </div>
  <img src="/illustrations/about.svg" />
</div>
