/* You can add global styles to this file, and also import other style files */
p {
  margin: 0;
}

header {
  z-index: 100;
}

body {
  font-family: Roboto, Arial;
  margin: 0;
}

input[type="range"] {
  accent-color: #4d75a3;
}

input[type="radio"] {
  appearance: none;

  outline: 1px solid gray;
  border-radius: 50%;
  width: 12px;
  height: 12px;

  cursor: pointer;
  transition: 0.2s all linear;
}

input[type="radio"]:checked {
  background-color: white;
  color: #4d75a3;
  outline: 1px solid #4d75a3;
  border: 3px solid #4d75a3;
}

input[type="checkbox"] {
  accent-color: #4d75a3;
  cursor: pointer;
}

select {
  padding: 12px 10px 12px 10px;
  border-radius: 5px;
  font-family: Roboto, Arial;
  font-size: 15px;
  border: 1px gray solid;
  color: #d86f6f;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

select.placeholder {
  color: #898a9c;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  padding: 12px 0 12px 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: text;
  box-sizing: border-box;
  color: #d86f6f;
  font-size: 15px;
  font-family: Roboto, Arial;
  outline: none;
}

input[type="date"].placeholder {
  color: #d9d9d9;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
  color: #d9d9d9;
}

textarea {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 12px 0 12px 15px;
  font-size: 15px;
  font-family: Roboto, Arial;
  cursor: text;
  box-sizing: border-box;
  color: #d86f6f;
}

textarea::placeholder {
  color: #d9d9d9;
}

textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  transition:
    box-shadow 0.15s,
    background-color 0.15s,
    color 0.15s,
    border 0.15s;
}

button:active:not(:has(img)) {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover:not(:has(img)) {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
