<div class="filters">
  <div class="headtitle">
    <p>{{ "PAGES.CATALOG.FILTERS.TITLE" | translate }}</p>
    @if (hasActiveFilters) {
      <button class="delete-filters-button" (click)="removeAllFilter()">
        {{ "PAGES.CATALOG.FILTERS.CLEAR" | translate }}
      </button>
    }
  </div>
  <!-- Remove filers tags -->
  <div class="filter-tags-section">
    @if (!!filters().price && filters().price !== 150) {
      <button
        class="filter-tag-button"
        (click)="updateFilterValue('price', 150)"
      >
        <img src="/icons/filters/cross-icon.svg" />
        {{ filters().price }}€
      </button>
    }
    @if (!!filters().seriesId) {
      <button
        class="filter-tag-button"
        (click)="updateFilterValue('seriesId', undefined)"
      >
        <img src="/icons/filters/cross-icon.svg" />
        {{ selectedSeriesName }}
      </button>
    }
    @if (!!filters().grade) {
      <button
        class="filter-tag-button"
        (click)="updateFilterValue('grade', undefined)"
      >
        <img src="/icons/filters/cross-icon.svg" />
        <div style="display: flex">
          {{ filters().grade }}
          <img src="/icons/stars/star-filled.svg" />
        </div>
      </button>
    }
    @if (selectedFormats.length > 0) {
      @for (format of selectedFormats; track format) {
        <button class="filter-tag-button" (click)="toggleFormat(format)">
          <img src="/icons/filters/cross-icon.svg" />
          {{ "ENUMS.BOOK_FORMAT." + format | translate }}
        </button>
      }
    }
    @if (selectedGenres.length > 0) {
      @for (genre of selectedGenres; track genre) {
        <button class="filter-tag-button" (click)="toggleGenre(genre)">
          <img src="/icons/filters/cross-icon.svg" />
          {{ "ENUMS.BOOK_GENRE." + genre | translate }}
        </button>
      }
    }
    @if (selectedAudiences.length > 0) {
      @for (audience of selectedAudiences; track audience) {
        <button class="filter-tag-button" (click)="toggleAudience(audience)">
          <img src="/icons/filters/cross-icon.svg" />
          {{ "ENUMS.BOOK_AUDIENCE." + audience | translate }}
        </button>
      }
    }
    @if (!!filters().editorId) {
      <button
        class="filter-tag-button"
        (click)="updateFilterValue('editorId', undefined)"
      >
        <img src="/icons/filters/cross-icon.svg" />
        {{ selectedEditorName$ | async }}
      </button>
    }
    @if (!!filters().authorId) {
      <button
        class="filter-tag-button"
        (click)="updateFilterValue('authorId', undefined)"
      >
        <img src="/icons/filters/cross-icon.svg" />
        {{ selectedAuthorName$ | async }}
      </button>
    }
    @if (!!filters().illustratorId) {
      <button
        class="filter-tag-button"
        (click)="updateFilterValue('illustratorId', undefined)"
      >
        <img src="/icons/filters/cross-icon.svg" />
        {{ selectedIllustratorName$ | async }}
      </button>
    }
  </div>

  <!-- Filters selectors -->
  @for (filterType of filterTypes; track filterType) {
    <div class="filter-container">
      <div class="filter-row">
        <p class="filter-title">
          {{ "ENUMS.FILTER_TYPE." + filterType | translate }}
        </p>
        <button class="see-filter-button" (click)="updateFilterUI(filterType)">
          @if (filterState[filterType]) {
            <img src="/icons/filters/less-icon.svg" />
          } @else {
            <img src="/icons/filters/more-icon.svg" />
          }
        </button>
      </div>
      @if (filterState[filterType]) {
        @switch (filterType) {
          @case (FilterTypeEnum.PRICE) {
            <ng-container [ngTemplateOutlet]="priceFilter"></ng-container>
          }
          @case (FilterTypeEnum.SERIES) {
            <ng-container [ngTemplateOutlet]="serieFilter"></ng-container>
          }
          @case (FilterTypeEnum.GRADE) {
            <ng-container [ngTemplateOutlet]="gradeFilter"></ng-container>
          }
          @case (FilterTypeEnum.FORMAT) {
            <ng-container [ngTemplateOutlet]="formatFilter"></ng-container>
          }
          @case (FilterTypeEnum.GENRE) {
            <ng-container [ngTemplateOutlet]="genreFilter"></ng-container>
          }
          @case (FilterTypeEnum.AUDIENCE) {
            <ng-container [ngTemplateOutlet]="audienceFilter"></ng-container>
          }
          @case (FilterTypeEnum.CONTRIBUTOR) {
            <ng-container [ngTemplateOutlet]="contributorFilter"></ng-container>
          }
        }
      }
    </div>
  }

  <!-- Expanded price filter -->
  <ng-template #priceFilter>
    <div class="expanded-filter-container">
      <div class="price-range">
        <p>0€</p>
        <p>{{ filters().price ?? 150 }}€</p>
      </div>
      <input
        type="range"
        class="price-slider"
        min="0"
        max="150"
        [ngModel]="filters().price"
        (ngModelChange)="updateFilterValue('price', $event)"
      />
    </div>
  </ng-template>

  <!-- Expanded serie filter -->
  <ng-template #serieFilter>
    <div class="expanded-filter-container">
      <p class="selector-label">{{ "ENUMS.FILTER_TYPE.SERIES" | translate }}</p>
      <select
        [class.placeholder]="!filters().seriesId"
        [ngModel]="filters().seriesId"
        (ngModelChange)="updateFilterValue('seriesId', $event)"
      >
        <option [ngValue]="undefined" disabled hidden>
          {{ "ENUMS.FILTER_PLACEHOLDER.SERIES" | translate }}
        </option>
        <option *ngFor="let serie of series" [value]="serie.id">
          {{ serie.name }}
        </option>
      </select>
    </div>
  </ng-template>

  <!-- Expanded grade filter -->
  <ng-template #gradeFilter>
    <div class="expanded-filter-container">
      @for (i of [5, 4, 3, 2, 1]; track i) {
        <div class="grade-row">
          <input
            type="radio"
            name="grade-filter"
            [value]="i"
            [ngModel]="filters().grade"
            (ngModelChange)="updateFilterValue('grade', $event)"
          />
          <app-grade [grade]="i" [displayTotal]="false"></app-grade>
          <p>{{ "ENUMS.FILTER_PLACEHOLDER.GRADE" | translate }}</p>
        </div>
      }
    </div>
  </ng-template>

  <!-- Expanded format filter -->
  <ng-template #formatFilter>
    <div class="expanded-filter-container">
      @for (format of bookFormats; track format) {
        <div class="format-row">
          <input
            type="checkbox"
            [checked]="selectedFormats.includes(format)"
            (click)="toggleFormat(format)"
          />
          {{ "ENUMS.BOOK_FORMAT." + format | translate }}
        </div>
      }
    </div>
  </ng-template>

  <!-- Expanded genre filter -->
  <ng-template #genreFilter>
    <div class="expanded-filter-container">
      @for (genre of bookGenres; track genre) {
        <div class="genre-row">
          <input
            type="checkbox"
            [checked]="selectedGenres.includes(genre)"
            (click)="toggleGenre(genre)"
          />
          {{ "ENUMS.BOOK_GENRE." + genre | translate }}
        </div>
      }
    </div>
  </ng-template>

  <!-- Expanded audience filter -->
  <ng-template #audienceFilter>
    <div class="expanded-filter-container">
      @for (audience of bookAudiences; track audience) {
        <div class="audience-row">
          <input
            type="checkbox"
            [checked]="selectedAudiences.includes(audience)"
            (click)="toggleAudience(audience)"
          />
          {{ "ENUMS.BOOK_AUDIENCE." + audience | translate }}
        </div>
      }
    </div>
  </ng-template>

  <!-- Expanded contributor filter -->
  <ng-template #contributorFilter>
    <div class="expanded-filter-container">
      <div class="selector">
        <p class="selector-label">
          {{ "ENUMS.FILTER_TYPE.EDITOR" | translate }}
        </p>
        <select
          [ngModel]="filters().editorId"
          [class.placeholder]="!filters().editorId"
          (ngModelChange)="updateFilterValue('editorId', $event)"
        >
          <option [ngValue]="undefined" disabled hidden>
            {{ "ENUMS.FILTER_PLACEHOLDER.EDITOR" | translate }}
          </option>
          <option *ngFor="let editor of editors$ | async" [value]="editor.id">
            {{ editor.name }}
          </option>
        </select>
      </div>

      <div class="selector">
        <p class="selector-label">
          {{ "ENUMS.FILTER_TYPE.AUTHOR" | translate }}
        </p>
        <select
          [ngModel]="filters().authorId"
          [class.placeholder]="!filters().authorId"
          (ngModelChange)="updateFilterValue('authorId', $event)"
        >
          <option [ngValue]="undefined" disabled hidden>
            {{ "ENUMS.FILTER_PLACEHOLDER.AUTHOR" | translate }}
          </option>
          <option *ngFor="let author of authors$ | async" [value]="author.id">
            {{ author.name }}
          </option>
        </select>
      </div>

      <div class="selector">
        <p class="selector-label">
          {{ "ENUMS.FILTER_TYPE.ILLUSTRATOR" | translate }}
        </p>
        <select
          [ngModel]="filters().illustratorId"
          [class.placeholder]="!filters().illustratorId"
          (ngModelChange)="updateFilterValue('illustratorId', $event)"
        >
          <option [ngValue]="undefined" disabled hidden>
            {{ "ENUMS.FILTER_PLACEHOLDER.ILLUSTRATOR" | translate }}
          </option>
          <option
            *ngFor="let illustrator of illustrators$ | async"
            [value]="illustrator.id"
          >
            {{ illustrator.name }}
          </option>
        </select>
      </div>
    </div>
  </ng-template>
</div>
